@page "/newuser"
@rendermode InteractiveServer
@using Labb_BlazorApp.Extensions

<PageTitle>New User</PageTitle>

<h2>Register New User</h2>
@if (DisplayForm)
{
    <p><i>Fields noted with <span class="text-danger"><b>*</b></span> are mandatory fields.</i></p>

    <EditForm Model="@_user" OnValidSubmit="AddUserToDb">
        <DataAnnotationsValidator />
        <div class="container-fluid">
            <div class="col-3">
                <label class="form-label"><b>Name</b></label><span class="text-danger"><b> *</b></span>
                <div class="input-group-sm mb-1">
                    <InputText class="form-control" id="firstName" @bind-Value="_user.FirstName" placeholder="First Name"/>
                    <ValidationMessage For="@(() => _user.FirstName)"/>
                </div>
                <div class="input-group-sm mb-2">
                    <InputText class="form-control" id="lastName" @bind-Value="_user.LastName" placeholder="Last Name"/>
                    <ValidationMessage For="@(() => _user.LastName)"/>
                </div>
                <label class="form-label"><b>Email</b></label><span class="text-danger"><b> *</b></span>
                <div class="input-group-sm mb-2">
                    <InputText class="form-control" id="email" @bind-Value="_user.Email" placeholder="Email Address"/>
                    <ValidationMessage For="@(() => _user.Email)"/>
                </div>
                <label class="form-label"><b>Company</b></label>
                <div class="input-group-sm mb-1">
                    <InputText class="form-control" id="company" @bind-Value="_user.Company.CompanyName" placeholder="Company Name"/>
                </div>
                <div class="input-group-sm mb-2">
                    <InputText class="form-control" id="catchphrase" @bind-Value="_user.Company.Catchphrase" placeholder="Company Catchphrase"/>
                </div>
                <label class="form-label"><b>Address</b></label>
                <div class="input-group-sm mb-1">
                    <InputText class="form-control" id="street" @bind-Value="_user.Address.Street" placeholder="Street"/>
                </div>
                <div class="input-group-sm mb-1">
                    <InputText class="form-control" id="city" @bind-Value="_user.Address.City" placeholder="City"/>
                </div>
                <div class="input-group-sm mb-3">
                    <InputText class="form-control" id="zipCode" @bind-Value="_user.Address.ZipCode" placeholder="Zip code"/>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-3">
                <div class="input-group-sm text-center">
                    <button type="submit" class="btn btn-outline-primary btn-sm button-margin">Submit</button>
                    <button type="reset" class="btn btn-outline-secondary btn-sm button-margin" @onclick="Reset">Reset</button>
                </div>
            </div>
        </div>
    </EditForm>
}
else
{
    <p>Thank you @_user.FirstName, the form was submitted successfully!</p>
    <p>
        Your details entered are as follows:<br />
        <b>Name:</b> @_user.FirstName @_user.LastName<br />
        <b>Email:</b> @_user.Email<br />
        <b>Company name:</b> @_user.Company.CompanyName.OrIfEmpty(_defaultIfFieldNotCompleted)<br />
        <b>Company catchphrase:</b> @_user.Company.Catchphrase.OrIfEmpty(_defaultIfFieldNotCompleted)<br />
        <b>Address:</b> @_user.Address.Street.OrIfEmpty(_defaultIfFieldNotCompleted), @_user.Address.City.OrIfEmpty(_defaultIfFieldNotCompleted), @_user.Address.ZipCode.OrIfEmpty(_defaultIfFieldNotCompleted)<br />
    </p>
}