@page "/newuser"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@using System.Reflection.Metadata.Ecma335
@using Microsoft.AspNetCore.HttpLogging

<PageTitle>New User</PageTitle>


<h3>Register New User</h3>
@if (displayForm)
{
    <p><i>Fields noted with <span class="text-danger"><b>*</b></span> are mandatory fields.</i></p>

    <EditForm Model="@_user" OnValidSubmit="AddUserToDb">
        <DataAnnotationsValidator />
        <label class="form-label"><b>Name</b></label><span class="text-danger"><b> *</b></span><br />
        <div class="spacing-bottom">
            <InputText class="testclass1" id="firstName" @bind-Value="_user.FirstName" placeholder="First Name" /><br />
            <ValidationMessage For="@(() => _user.FirstName)" />
        </div>
        <div class="spacing-bottom">
            <InputText id="lastName" @bind-Value="_user.LastName" placeholder="Last Name" /><br />
            <ValidationMessage For="@(() => _user.LastName)" />
        </div>
        <label class="form-label"><b>Email</b></label><span class="text-danger"><b> *</b></span><br />
        <div class="spacing-bottom">
            <InputText id="email" @bind-Value="_user.Email" placeholder="Email Address" /><br />
            <ValidationMessage For="@(() => _user.Email)" />
        </div>
        <label class="form-label"><b>Company</b></label><br />
        <div class="spacing-bottom">
            <InputText id="company" @bind-Value="_user.Company.CompanyName" placeholder="Company Name" /><br />
        </div>
        <div class="spacing-bottom">
            <InputText id="catchphrase" @bind-Value="_user.Company.Catchphrase" placeholder="Company Catchphrase" /><br />
        </div>
        <label class="form-label"><b>Address</b></label><br />
        <div class="spacing-bottom">
            <InputText id="street" @bind-Value="_user.Address.Street" placeholder="Street" /><br />
        </div>
        <div class="spacing-bottom">
            <InputText id="city" @bind-Value="_user.Address.City" placeholder="City" /><br />
        </div>
        <div class="extra-spacing-bottom">
            <InputText id="zipCode" @bind-Value="_user.Address.ZipCode" placeholder="Zip code" /><br />
        </div>
            <button type="submit" class="button-margin button-padding">Submit</button>
        <button type="reset" class="button-margin button-padding">Reset</button>
    </EditForm>
}
else
{
    <p>Thank you @_user.FirstName, the form was submitted successfully!</p>
    <p>
        Your details entered are as follows:<br />
        <b>Name:</b> @_user.FirstName @_user.LastName<br />
        <b>Email:</b> @_user.Email<br />
        <b>Company name:</b> @_user.Company.CompanyName.OrIfEmpty("N/A")<br />
        <b>Company catchphrase:</b> @_user.Company.Catchphrase.OrIfEmpty("N/A")<br />
        <b>Address:</b> @_user.Address.Street.OrIfEmpty("N/A"), @_user.Address.City.OrIfEmpty("N/A"), @_user.Address.ZipCode.OrIfEmpty("N/A")<br />
    </p>
}