@page "/users"
@rendermode InteractiveServer
@attribute [StreamRendering]
@using System.ComponentModel.DataAnnotations;
@using Labb_BlazorApp.Extensions

<PageTitle>Users</PageTitle>

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-2">
            <h2>Users</h2>
        </div>
        <div class="col-2">
            <div class="input-group-sm mb-5">
                <label class="col-form-label col-form-label-sm" for="dataSource">Showing data from:</label>
                <select name="dataSource" id="dataSource" class="form-select form-select-sm" disabled=@_dataSourceDisabled @bind:get="DataSource" @bind:set="DataSourceIsChanged">
                    @foreach (var item in DataSourceList)
                    {
                        <option value="@item">@item.StringValueOf()</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>

@if (_users == null)
{
    <div class="text-center">
        <p>@_loadingUserdataMessage</p>
        @if (_loadingUserdataMessage == "Loading...")
        {
            <img src="/resources/giphy_duck.gif" width="100" height="100" />
        }
        else
        {
            <p>@_selectOtherDataSourceOnErrorMessage</p>
        }
    </div>
}
else
{
    @if (_loadingUserdataMessage != "Loading...")
    {
        <div class="text-center">
            <p>@_loadingUserdataMessage</p>
            <p>@_selectOtherDataSourceOnErrorMessage</p>
        </div>
    }
    else
    {

        <div class="container-fluid">
            <div class="row justify-content-between gx-0">
                <div class="col-3">
                    <div class="input-group input-group-sm">
                        <label class="input-group-text" for="inputGroupSelect01">Search criteria: </label>
                        <select class="form-select" id="inputGroupSelect01" @bind:get="SearchCriteria" @bind:set="SearchCriteriaIsChanged">
                            @foreach (var item in SearchCriteriaList)
                            {
                                <option value="@item">@item.StringValueOf()</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control" type="text" placeholder="search term" aria-label="search term" aria-describedby="button-addon2" id="search-term" @bind=_searchTerm>
                        <button type="button" id="button-addon2" class="btn btn-outline-secondary" disabled=@_searchDisabled @onclick=SearchUsers>Search</button>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col-auto text-end">
                    <div class="input-group input-group-sm mb-3">
                        <label class="col-form-label col-form-label-sm button-margin" for="itemsToDisplay">Show: </label>
                        <select name="itemsToDisplay" id="itemsToDisplay" class="form-select" @bind:get="NumberOfItemsToDisplay" @bind:set="FilterUsers">
                            @foreach (var item in NumberOfItemsToDisplayList)
                            {
                                if (item == NumberOfItemsToDisplay.DisplayAll)
                                {
                                    <option value="@item">@item.StringValueOf()</option>
                                }
                                else if (!_users.IsNumberToDisplayGreaterThanUsersAvailable((int)item))
                                {
                                    <option value="@item">@((int)item)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <p></p>
        <p class="right-aligned col-form-label-sm">Showing @UsersToDisplay?.Count of @_users.Count users.</p>

        <table class="table">
            <thead>
                <tr>
                    <th class="sortable" @onclick="@(() => SortUsers(SortByAttribute.UserId, true))">User ID @((MarkupString)_sortOrderIndicator.SortOrderIndicatorUserId)</th>
                    <th class="sortable" @onclick="@(() => SortUsers(SortByAttribute.FirstName, true))">First name @((MarkupString)_sortOrderIndicator.SortOrderIndicatorFirstName)</th>
                    <th class="sortable" @onclick="@(() => SortUsers(SortByAttribute.LastName, true))">Last name @((MarkupString)_sortOrderIndicator.SortOrderIndicatorLastName)</th>
                    <th class="sortable" @onclick="@(() => SortUsers(SortByAttribute.Email, true))">Email address @((MarkupString)_sortOrderIndicator.SortOrderIndicatorEmail)</th>
                    <th>Phone number</th>
                    <th>Website</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>Zip Code</th>
                    <th class="sortable" @onclick="@(() => SortUsers(SortByAttribute.Company, true))">Company name @((MarkupString)_sortOrderIndicator.SortOrderIndicatorCompanyName)</th>
                    <th>Catchphrase</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in UsersToDisplay!)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Website</td>
                        <td>@user.Address.Street</td>
                        <td>@user.Address.City</td>
                        <td>@user.Address.ZipCode</td>
                        <td>@user.Company.CompanyName</td>
                        <td>@user.Company.Catchphrase</td>
                    </tr>
                }
            </tbody>
        </table>

        <p></p>
        <p class="right-aligned col-form-label-sm">Showing @UsersToDisplay?.Count of @_users.Count users.</p>
    }
}